body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333333;
    color: #fcfaf9;
    } 

header {
    display: flex;
    justify-content: space-between;
    background-color:#F3D3BD;
    color: #272727;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;

}
.logo img {
    height: 30px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a {
    color: #333333
}

nav a:hover {
    color: #6AAE8A;
}
.intro {
    padding: 2px;
    background-color: #272727;
    color: #FCFAF9;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: small;
    
}

h2 {
    text-align: center;
    font-size: 3em;
}
p {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input, select, button[type="submit"], #random-drink {
    border: none;
    background-color: #5E5E5E;
    color: #FCFAF9;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    transition: background 0.5s ease;
}

input:hover, select:hover, button:hover {
    background-color: #F3D3BD;
}

button {
    cursor: pointer;
}

#random-drink {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#random-drink:hover {
    background-color: #6AAE8A;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cocktail {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px #272727;
}

.cocktail:hover {
    box-shadow: 0 0 10px #F3D3BD;
    transform: scale(1.03);
}

.cocktail img {
    width: 100%;
    border-radius: 10px;
}

.cocktail h3 {
    text-align: center;
    margin-top: 10px;
}

.cocktail p, .cocktail ul {
    font-size: 0.8em;
}

.cocktail ul {
    list-style: circle;
    padding: 0;
}
.like-button {
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #F3D3BD;
    border-radius: 5px;
    color: #FCFAF9;
    padding: auto;
    
}
footer {
    margin-top: auto;
    text-align: center;
    background-color: #6AAE8A;
    color: white;
    font-size: small;
    border-radius: 5px;
}
    
footer a {
    color:#fcfaf9;
}
footer a:hover {
    color: #F3D3BD;
}
